@charset "UTF-8";

@font-face {  /* Se define el tipo de fuente que se utilizara */
    font-family: Roboto; /* Nombre que se le dara a la fuente dentro del proyecto */
    src: url('../fonts/Roboto/Roboto-Regular.ttf'); /* Ubicacion del archivo .ttf de la fuente */
}


/* Definición de la fuente para todos los estilos */
*{
   font-family: 'Roboto'
}

/* Color del fondo para la etiquetda body */
body{
    background-color: #2F2F2F;
}

/* ============= Barra de Navegación =====================*/

/* Margenes y alturas para el logo */
.logoNoPadding {
   padding: 10px;
   margin-left: 50px;
   height: 59%
}

/* Añadir fondo negro a la barra de navegación. */
.navbar {
    background: #000000;
    overflow: hidden;
    z-index: 5; /* va a estar encima de todo */
    height: 60px;
    padding: top 10px;
    border-radius: 10px;/* redondear bordes */
    padding-right: 50px;
  
 }
 
 /* Dar estilo a los elementos dentro de la barra de navegación. */
 .menuitem {
    float: right; /* Los elementos flotan a la derecha */
    color: #f2f2f2;
    text-align: center; /* Alinear el texto en el centro */
    padding: 15px 16px;
    text-decoration: none; /* Quitar decoracion del texto */
    font-size: 20pt;
 }
 /* cambiar el color de los enlaces cuando se pone el mouse encima. */
 .menuitem:hover {
    background-color: #512da8;
    color: white;
 }


 /* ============= Contenedor de Elementos =====================*/
 

 /* Se agrega fondo blanco, margenes, paddings y se redondea las esquinas */
.container{
   background-color: #FFFFFF;
   border-radius: 15px;
   padding: 30px;
   margin-top: 20px;
   padding-bottom: 100px;
}

 /* Se agrega un borde solido para que se visible */
.solidborder {
   border-style: solid;
}

.container p {
   text-justify: inter-word; /* Reglas de justificación */
}

 /* tamaño de imagen, estilo y alineación */
.rightimg{
   margin-top: 30px;
   float: right;
   height: 300px;
   border-radius:10px;
   margin-left: 50px;
}

 /* tamaño de imagen y redondeo de esquinas */
.topimg{
   width: 1000px;
   border-radius:10px;
   
}

 /* tamaño de imagen y redondeo de esquinas */
.intextimg{
   margin: 10px;
   border-radius: 10px;
}

 /* alinear contenido al centro*/
.centerdiv{
   text-align: center
}

 /* alinear contenido al centro*/
footer{
   text-align: center;
}
 /* Colores de título en el footer*/
footer h4 {
   color: white
}

footer h5 {
   color: white
}

footer a{
   color: #1976d2
}

 /* tamaño de imagenes*/
.imgartworks{
   height: 400px
}

 /* estilo de los enlaces del submenú*/
.submenu h4 a {
   margin: 15px;
   padding: 10px;
   background-color: #512da8;
   color: white;
   border-radius: 15px;
}

 /* estilo de boton de compra*/
.botonCompra a {
   padding: 20px;
   background-color: green;
   color: white;
   border-radius: 15px;
}

 /* Estilos para la tabla*/

.tftable {font-size:12px;
   color:#fbfbfb;
   width:1000px;
   border-width: 1px;
   border-color: #686767;
   border-collapse: collapse;
}

 /* Estilos para el header*/
.tftable th {
   font-size:12px;
   background-color:#171515;
   border-width: 1px;
   padding: 8px;
   border-style: solid;
   border-color: #686767;
   text-align:left;
}

 /* Estilos para la fila*/
.tftable tr {
   background-color:#2f2f2f;
}

 /* Estilos para la celda*/
.tftable td {
   font-size:12px;
   border-width: 1px;
   padding: 8px;
   border-style: solid;
   border-color: #686767;
}

 /* Estilos para la fila cuando se pasa el puntero*/
.tftable tr:hover {
   background-color:#171515;
}

table a { /* Dar estilos a los enlaces de las tablas */
   color: white;
   text-decoration: none; /* Quitar cualquier decaracion (estilo por defecto) para los enlaces */
}


.linkscredits { /* Dar estilos a los enlaces */
   color: blue;
   text-decoration: none; /* Quitar cualquier decaracion (estilo por defecto) para los enlaces */
}
